@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

.card {
  @apply bg-blue-600 h-48 flex-1 rounded-lg relative overflow-hidden;
}

.card::before {
  content: '';
  @apply bg-violet-600 h-64 w-1/2 absolute rounded-r-full;
}

.card::after {
  content: '';
  @apply bg-cyan-300 h-20 w-32 absolute -right-4 -top-4 rounded-l-full;
}

.content-left::-webkit-scrollbar {
  display: none;
}
